body {
  background-color: #f5f5f5;
}

a {
  color: grey;
  cursor: pointer;
}

a:hover {
  color: black;
}

.top-section {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 3em;
  padding-left: 2vh;
  margin: 0;
  cursor: pointer;
}

.hamburger-icon-container {
  font-size: 6vh;
  width: 8%;
}

.main-image {
  width: 100%;
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.menu-item-container {
  width: 60%;
  display: flex;
  margin-right: 25vw;
}

.menu-item-container a {
  padding-right: 4vw;
}

.logo-container {
  width: 20%;
}

.main-header {
  font-weight: bold;
  font-size: 60px;
}

.text-area-container {
  padding: 0px 9vw;
  width: 50%;
}

.image-container {
  padding: 0px 5vw;
  width: 50%;
}

.login-register-container {
  display: flex;
  width: 20%;
  /* justify-content: flex-end; */ //sali
  padding-right: 30px;
}

.login-register-container a {
  display: inline-block;
  text-align: center;
  padding: 11px 25px;
  margin-right: 20px;
}

.register-btn {
  border: 2px solid;
  border-radius: 12px;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.text-description {
  font-size: 25px;
}

.learn-more-btn {
  border: 2px solid;
  background-color: black;
  color: white;
  padding: 15px;
  font-size: 17px;
  border-radius: 15px;
  width: 140px;
  margin-top: 15px;
  display: block;
  cursor: pointer;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.learn-more-btn:hover {
  color: black;
  background-color: white;
}

.sponserImg {
  position: absolute;
  bottom: 75px;
}

.text-description {
  color: #4a4848ad;
}
.dropdown {
  display: flex;
}

.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 10px;
  box-shadow: 10px 6px 10px rgb(0 0 0 / 0.2);
  z-index: 10;
  margin-top: 3vh;
}

.dropdown-content a {
  color: grey;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.fa-clipboard-list {
  color: rgb(91, 83, 161);
}

.fa-calendar-days {
  color: lightblue;
}

.fa-bell {
  color: rgba(255, 255, 0, 0.691);
}

.fa-circle {
  color: purple;
}

@media screen and (min-width: 1024px) {
  .hamburger-icon-container {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .main-container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .menu-item-container,
  .login-register-container {
    display: none !important;
  }

  .hamburger-icon-container {
    margin-right: 10px;
  }

  .main-header {
    font-size: 39px;
  }

  .top-section {
    justify-content: space-between;
  }

  .logo {
    width: 100%;
    font-size: 3em;
  }
  .text-area-container {
    padding: 0;
    width: 80%;
    text-align: center;
  }
  .image-container {
    padding: 0;
    width: 100%;
  }
  .learn-more-btn {
    margin: 3vh auto;
    font-size: 20px;
    width: 40vw;
  }
  .sponserImg {
    margin-top: 2vh;
    width: 100%;
    position: relative;
    bottom: 0;
  }
}
